/* css/cards.css */

/* Estilos generales */
body {
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.apartado-cards {
    max-width: 1600px;  /*Limita el ancho máximo a 1200px*/
    margin: 0 auto; /*Centra el contenedor horizontalmente*/
    padding: 80px 20px; /*60px arriba/abajo, 20px izquierda/derecha*/
    background-color: #839bb212;
}

/* Encabezado */
.encabezado-cards h1 {
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    color: #0b0d11;
    margin-bottom: 60px;    /*espacio de abajo del texto encabezado*/
    line-height: 1.1;   /*espacio entre lineas*/
}

/* Grid de cards */
.row {
    display: flex;  /*coloca las cards en la fila*/
    justify-content: center;
    gap: 1px;  /*espacio entre cards*/
}

.col-sm-2 {
    flex: 1;    /*cada card ocupa el mismo espacio*/
    min-width: 360px;   /*tamaño de cada card horizontal*/
    max-width: 100px;   /*tamaño de cada card vertical*/
}

/* Cards */
.card {
    border: 0.2px solid #5e527532;
    border-radius: 16px;
    padding: 40px 20px; /*espacios dentro del card*/
    height: 85%;    /*tamaño vertical del card*/
    /*width: 100%;*/
    background-color: #50406d12;
}

.card-body {
    padding: 0; /*Elimina el padding por defecto de Bootstrap*/
    display: flex;  /*Coloca las cards en fila*/
    flex-direction: column; /*Organiza el contenido verticalmente*/
    height: 100%;    /*Ocupa toda la altura disponible*/
}

/* Texto superior (h7-div) */
.card-textHover {
    font-size: 11px;
    font-weight: 500;
    color: #0b0d11;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 28px;
    display: flex;  /*crea disposición flexible*/
    justify-content: space-between; /*crea espacio entre texto e imagen*/
    align-items: center;    /*alineo el texto en centro del contenedor*/
}

.col-6{
    width: auto;
}

/* Corona/icono */
.img-corona{
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
}

/* Título de la card */
.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #0b0d11;
    margin-bottom: 16px;    /*espacio debajo del titulo*/
    line-height: 1.2;   /*reduce el espacio entre lineas*/
}

/* Texto descriptivo */
.card-text {
    font-size: 14px;
    color: #0b0d11;
    line-height: 1.5;   /*espacio entre lineas*/
    margin-bottom: 24px;
    flex-grow: 1;   /*Hace que este elemento ocupe todo el espacio disponible, empujando el botón hacia abajo*/
}

/* Botones */
.btn-primary {
    background: #8B3DFF;
    border: none;
    border-radius: 8px;
    padding: 9px 24px;
    font-size: 14px;
    font-weight: 550;
    color: white;
    text-decoration: none;  /*Elimina el subrayado de los enlaces*/
    display: inline-block;  /*Permite aplicar padding y width*/
    text-align: center;
    width: 100%;
}

.btn-primary:hover {
    background: #7e2cf8;
}

/* Texto final */
.text-endCard {
    font-size: 15px;
    color:  #0b0d11ba;
    line-height: 1.6;
    text-align:center;
    display: block;
    margin: 0 auto;
    width: 100%; /* Ocupar todo el ancho */
    padding: 0 20px; /* Añadir padding para no pegarse a los bordes */
    box-sizing: border-box;
}

.text-endCard a {
    color:  #8B3DFF;
    text-decoration: none;
    font-weight: 500;
}

.text-endCard a:hover {
    text-decoration: underline;
    color: #7e2cf8;
}

/* Responsive */
/*@media (max-width: 1200px) {
    .row {
        flex-wrap: wrap;
    }
    
    .col-sm-2 {
        min-width: 250px;
    }
}

@media (max-width: 768px) {
    .encabezado-cards h1 {
        font-size: 36px;
    }
    
    .apartado-cards {
        padding: 40px 16px;
    }
    
    .col-sm-2 {
        min-width: 100%;
        max-width: 100%;
    }
}*/


@media (max-width: 575.98px) { }
@media (max-width: 767.98px) { }
@media (max-width: 991.98px) { }
@media (max-width: 1199.98px) { }
@media (max-width: 1399.98px) { }