/**** CONFIGURACIÓN DE LA BARRA DE MENU NAVBAR ****/
.navbar{
    background-color: white;
}

.nav-link{
    font-family: 'Inter' sans-serif;
    color: #0e1318;
    font-weight: 500;
    text-align: start;
}

/**** SOMBREADO AL MENU ****/
.nav-item:hover {
    background-color: rgba(225, 222, 246, 0.427);
    border-radius: 20%;
}

/**** MEDIAS QUERIES ****/
@media (max-width: 575.98px) { }
@media (max-width: 767.98px) { }
@media (max-width: 991.98px) { }
@media (max-width: 1199.98px) { }
@media (max-width: 1399.98px) { }